<div *ngIf="(basket$ | async) === null" class="container">
    <h2>The basket is empty</h2>
</div>
<div *ngIf="basket$ | async" class="container pb-5">
    <div class="row">
        <div class="col-lg-9">
            <app-basket-summary
            (decrement) = "decrementItem($event)"
            (increment) = "incrementItem($event)"
            (remove) = "deleteItem($event)"
            ></app-basket-summary>
        </div>
        <div class="col-lg-3 mt-md-3">
            <app-order-totals></app-order-totals>
            <a routerLink="/checkout" class="btn btn-outline-primary py-2 btn-block w-100 my-2">Checkout</a>
        </div>
    </div>
</div>