<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 bg-light border-bottom fixed-top">
    <div class="container">
      <div class="row align-items-center">
      <div class="col-3">
        <a routerLink='/' class="text-dark text-decoration-none">
          <img src="/assets/images/logo.png" style="max-height: 40px;" alt="logo">
        </a>
      </div>
      <div class="col-6">
        <ul class="nav justify-content-center mb-md-0">
          <li><a routerLink='/' routerLinkActive="link-secondary" class="nav-link px-2" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
          <li><a routerLink='/shop' routerLinkActive="link-secondary" class="nav-link px-2">Shop</a></li>
          <li><a routerLink='/test-error' routerLinkActive="link-secondary" class="nav-link px-2">Contacts</a></li>
        </ul>
      </div>    
      <div class="col-3 d-flex align-items-center justify-content-center">
        <a routerLink="/basket" class="position-relative me-3">
            <i class="fa fa-shopping-cart fa-2x text-dark" [matBadgeHidden]="isHideBadge" matBadge="{{basketCount}}" matBadgeColor="warn"></i>
        </a>
        <ng-container *ngIf="(currentUser$ | async) == null">
          <a routerLink="/account/login" type="button" class="btn btn-outline-primary me-2">Login</a>
          <a routerLink="/account/register" type="button" class="btn btn-primary">Sign-up</a>
        </ng-container>
        <ng-container *ngIf="currentUser$ | async">
          <button mat-button [matMenuTriggerFor]="menu">{{(currentUser$ | async).displayName}}</button>
          <mat-menu #menu="matMenu">
            <a routerLink="/basket" mat-menu-item>
              <i class="fa fa-shopping-cart me-2"></i>
              View Basket
            </a>
            <a routerLink="/orders" mat-menu-item>
              <i class="fa fa-history me-2"></i>
              View Orders
            </a>
            <a routerLink="/admin" mat-menu-item>
              <i class="fa fa-user me-2"></i>
              Admin
            </a>
            <a (click)="logout()" routerLink="/basket" mat-menu-item>
              <i class="fa fa-sign-out me-2"></i>
              Logout
            </a>
          </mat-menu>
        </ng-container>
      </div>
    </div>
    </div>
  </header>
